.segmented-control {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 25px; /* Utilisation d'un border-radius plus grand pour un aspect arrondi */
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
}

.segment {
  flex: 1;
  height: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #666;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.segment:hover {
  background-color: #eee;
}

.segment.selected {
  background-color: #007bff; /* Changement de couleur de fond pour la segment sélectionné en bleu */
  color: #fff; /* Changement de couleur du texte en blanc */
}
